/* إعدادات الخلفية */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./image/pexels-padrinan-6.jpg');
    background-size: cover;
    background-position: top;
    /* height: 100vh; */
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* height: 100%; */
    padding: 20px;
    box-sizing: border-box;
    width: 70%;
    margin-inline:auto
}
/* تنسيق نموذج إضافة المهام */
.add-task-form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.add-task-form input {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    width: 50%;
}

.add-task-form button {
    padding: 15px;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-task-form button:hover {
    background-color: #218838;
}
.task-list {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.task-list h2 {
    text-align: center;
}

.task-ul {
    list-style: none;
    padding: 0;
}

.task {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    position :relative;
}

.task:hover {
    transform: scale(1.05);
}

.task .delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position :absolute;
    right:0;


}

.task .delete-btn:hover {
    background-color: darkred;
}


/* قائمة المهام عند سحبها */
.task-dragging {
    opacity: 0.5;
}


